<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django 3 with React JS</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body>
    <h1 style="text-align:center;">Welcome to Django 3.0 and React Tutorial</h1>
    <div id="app"></div>
    <script src="{%static 'js/app.js' %}"></script>
</body>

</html>
